$background-color: #0d101d;
$secondary-background-color: #0c1324;
$card-color: #1d2736;

$font-color: #e2e8f0;
$accent: hsl(198, 69%, 55%);

$blue: hsl(198, 93%, 40%);
$darkblue: hsl(198, 93%, 30%);
$gray: #1d2736;
$lightgray: hsl(215, 20%, 65%);

$translucent: #fff2;
