@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");

@import "config";

@import "utils/button";
@import "modules/navbar";
@import "components/spotlight-gradient";
@import "animations/keyframes";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
  background-size: 300px;
  color: $font-color;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.container {
  padding: 20px;
  width: 90;
}

.nav-separator {
  border-right: 1px solid #fff2;
  width: 0;
  height: 30px;
  margin-right: 25px;
}

.showcase__title {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 3.7rem;
  width: 1000px;
  line-height: 4rem;
  margin: auto;
  margin-top: 150px;
  text-align: center;
  margin-bottom: 35px;
}

.showcase__title span:first-of-type {
  background-image: linear-gradient(
    to right,
    $accent,
    hsl(198, 93%, 30%),
    $accent,
    hsl(198, 93%, 30%),
    $accent,
    hsl(198, 93%, 30%)
  );
  background-size: 400% 100%;
  background-clip: text;
  padding: 0 1px;
  position: relative;
  color: #fff;
  animation: startMoveGradient 0.3s 0.5s linear forwards,
    animMoveGradient 5s linear infinite;
}

.showcase__title span:last-of-type {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 90%;
    border-bottom: 5px solid hsl(198, 93%, 45%);
    transition: width 0.3s;
  }
}

.showcase__title span:last-of-type:hover {
  cursor: pointer;

  &::before {
    width: 100%;
  }
}

.showcase__content {
  color: rgb(148, 163, 184);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  width: 500px;
  margin: auto;
}

.showcase__content::after {
  content: "";
  padding: 1px;
  background-color: #a0a0a0;
  opacity: 0;
  transition: opacity 0.2s;
}

.typing::after {
  opacity: 1;
}
