@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");

@import "config";

@import "utils/layout";

@import "components/card";
@import "components/article";
@import "components/button";
@import "components/link";
@import "components/spotlight-gradient";

@import "modules/navbar";
@import "modules/showcase";
@import "modules/features";
@import "modules/partners";
@import "modules/services";
@import "modules/footer";

@import "animations/keyframes";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 70px;
}

body {
  background-color: $background-color;
  background-size: 300px;
  color: $font-color;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}
