@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");

@import "config";

@import "utils/button";
@import "modules/navbar";
@import "components/spotlight-gradient";
@import "animations/keyframes";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 70px;
}

body {
  background-color: $background-color;
  background-size: 300px;
  color: $font-color;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

%link {
  color: $font-color;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: $accent;
    cursor: pointer;
  }
}

.link {
  @extend %link;
}

.hyperlink {
  @extend %link;
  color: $accent;
  border-bottom: 1px solid $accent;
  transition: color 0.3s, border-color 0.3s;

  &:hover {
    color: hsl(198, 93%, 30%);
    border-color: hsl(198, 93%, 30%);
  }
}

.container {
  padding: 20px;
  width: 80%;
  margin: auto;
}

.separator {
  margin-top: 75px;
  border-bottom: 1px solid #fff2;
}

.nav-separator {
  border-right: 1px solid #fff2;
  width: 0;
  height: 30px;
  margin-right: 25px;
}

.showcase {
  width: fit-content;
  margin: auto;
}

.showcase__title {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 3.7rem;
  width: 1000px;
  line-height: 4rem;
  margin: auto;
  margin-top: 150px;
  text-align: center;
  margin-bottom: 35px;
}

.showcase__title span:first-of-type {
  background-image: linear-gradient(
    to right,
    $accent,
    hsl(198, 93%, 30%),
    $accent,
    hsl(198, 93%, 30%),
    $accent,
    hsl(198, 93%, 30%)
  );
  background-size: 400% 100%;
  background-clip: text;
  padding: 0 1px;
  position: relative;
  color: #fff;
  animation: startMoveGradient 0.3s 0.5s linear forwards,
    animMoveGradient 5s linear infinite;
}

.showcase__title span:last-of-type {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 90%;
    border-bottom: 5px solid hsl(198, 93%, 45%);
    transition: width 0.3s;
  }
}

.showcase__title span:last-of-type:hover {
  cursor: pointer;

  &::before {
    width: 100%;
  }
}

.showcase__content {
  color: rgb(148, 163, 184);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  width: 600px;
  margin: auto;
  margin-bottom: 60px;
}

.showcase__content::after {
  content: "";
  padding: 1px;
  background-color: #a0a0a0;
  opacity: 0;
  transition: opacity 0.2s;
}

.typing::after {
  opacity: 1;
}

.showcase__btn {
  display: block;
  opacity: 1;
  width: fit-content;
  margin: auto;
}

.showcase__btn .btn {
  display: inline-block;
  width: 120px;
  text-align: center;
  margin-right: 10px;
}

.content {
  margin-top: 200px;
  border-top: 1px solid #fff1;
  background-color: #0c1324;
  padding: 50px 0;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.card {
  padding: 30px;
  background-color: #1d2736;
  border-radius: 7px;
  box-shadow: inset 0 1px 0 0 #fff2, 0 0 20px 0 #0007;
  position: relative;
}

.card__icon {
  margin-bottom: 5px;
}

.card__title {
  margin-bottom: 20px;

  a {
    color: $accent;
  }
}

.card__content {
  margin-bottom: 50px;
}

.card__btn {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.partners {
  margin-top: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #1d2736;
  padding: 40px;
  border-radius: 7px;
  position: relative;
}

.partners img {
  display: block;
  filter: contrast(0);
  transition: filter 0.3s;
}

.partners img:hover {
  cursor: pointer;
  filter: contrast(1);
}

.article {
  margin-top: 75px;
  display: flex;
}

.article__img {
  border-radius: 7px;
  box-shadow: 0 5px 20px 0 #0005;
  height: 230px;
}

.article__content {
  margin-left: 40px;
}

.article__title {
  margin-bottom: 20px;
}

.article__paragraph {
  margin-bottom: 40px;
}

.inverse .article__content {
  margin-left: 0;
  margin-right: 50px;
}

.inverse .article__img {
  height: fit-content;
}

.footer {
  padding: 30px 0;
}

.quick-links {
  flex: 1;
}

.newsletter {
  width: 200px;
}

.footer__content {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.footer__title {
  margin-bottom: 10px;
}

.footer__btn {
  display: block;
  margin-top: 25px;
  width: fit-content;
}

.footer__links {
  margin-top: 25px;
  list-style: none;
}

.follow-us {
  width: 200px;
}

.social-media-links {
  margin-top: 30px;
  font-size: 1.8rem;

  a {
    margin-right: 10px;
  }
}

.copyright {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.copyright p {
  flex: 1;
}

.copyright a {
  margin-right: 30px;
}

.services {
  margin-top: 50px;
  padding-top: 50px;

  &__title {
    font-size: 1.5rem;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 30px;

    .card {
      padding: 20px;

      &__img {
        width: 100%;
        height: 200px;
        border-radius: 5px;
        margin-bottom: 10px;
      }

      &__content {
        margin-bottom: 60px;
      }

      &__btn {
        bottom: 20px;
        left: 20px;
      }
    }
  }
}
