.btn {
  background-color: #fff2;
  padding: 6px 10px;
  border-radius: 35px;
  font-size: 0.9rem;
  color: $font-color;

  &:hover {
    color: $accent;
  }

  &:hover i {
    margin-left: 7px;
  }

  i {
    display: inline-block;
    margin-left: 3px;
    font-size: 0.8rem;
    transition: margin-left 0.3s;
  }
}
