.container {
  padding: 20px;
  width: 80%;
  margin: auto;
}

.separator {
  margin-top: 75px;
  border-bottom: 1px solid #fff2;
}

.nav-separator {
  border-right: 1px solid #fff2;
  width: 0;
  height: 30px;
  margin-right: 25px;
}
