.card {
  padding: 30px;
  background-color: #1d2736;
  border-radius: 7px;
  box-shadow: inset 0 1px 0 0 #fff2, 0 0 20px 0 #0007;
  position: relative;

  &__icon {
    margin-bottom: 5px;
  }

  &__title {
    margin-bottom: 20px;

    a {
      color: $accent;
    }
  }

  &__content {
    margin-bottom: 50px;
  }

  &__btn {
    position: absolute;
    bottom: 30px;
    left: 30px;
  }
}
