$hello: #ff0;

@keyframes startMoveGradient {
  0% {
    color: #fff;
  }

  100% {
    color: transparent;
  }
}

@keyframes animMoveGradient {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}
