nav#navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  a {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: $font-color;
    transition: color 0.4s;

    &:hover {
      color: $accent;
    }
  }
}

.nav-item {
  margin-right: 30px;
  font-weight: 500;
}

.right-nav {
  display: flex;
  align-items: center;
  list-style: none;
}

.middle-nav {
  display: flex;
  flex: 1;
  margin-left: 50px;
  list-style: none;

  .nav-item:last-of-type {
    margin-right: 0;
  }
}

.contact-actions {
  margin-right: 0;

  a {
    margin-right: 15px;
  }

  a:last-of-type {
    margin-right: 0;
  }
}

.right-nav .nav-item:not(.contact-actions) {
  margin-right: 20px;

  div {
    width: 100px;
  }

  a {
    background-color: #fff2;
    padding: 6px 10px;
    border-radius: 35px;
    font-size: 0.9rem;

    i {
      display: inline-block;
      margin-left: 3px;
      font-size: 0.8rem;
      transition: margin-left 0.3s;
    }
  }

  &:hover a i {
    margin-left: 7px;
  }
}
