.nav-container {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  transition: background-color 0.3s, top 0.3s;
}

nav#navbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  a {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: $font-color;
    transition: color 0.4s;

    &:hover {
      color: $accent;
    }
  }
}

.right-nav {
  display: flex;
  align-items: center;
  list-style: none;
}

.middle-nav {
  display: flex;
  flex: 1;
  margin-left: 35px;
  list-style: none;

  .nav-item:last-of-type {
    margin-right: 0;
  }
}

.contact-actions {
  margin-right: 0;

  a {
    margin-right: 15px;
  }

  a:last-of-type {
    margin-right: 0;
  }
}

.right-nav .nav-item:not(.contact-actions) {
  margin-right: 20px;

  div {
    width: 100px;
  }
}

.dropdown {
  position: absolute;
  left: -100px;
  top: 40px;
  background-color: $card-color;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 2px 20px 5px #0005;
  width: max-content;
  opacity: 0;
  transition: opacity 0.2s;

  &::before {
    content: "";
    padding: 7px;
    background-color: $card-color;
    position: absolute;
    top: -14px;
    left: 125px;
    clip-path: polygon(7px 5px, 14px 14px, 0 14px);
  }
}

.nav-item {
  margin-right: 30px;
  font-weight: 500;
  position: relative;
}

.dropdown {
  display: flex;

  &__title {
    margin-bottom: 15px;
  }

  &__item {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 5px;

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border-radius: 5px;
      background-color: $translucent;

      i {
        margin-right: 5px;
        transition: transform 0.3s;
      }
    }
  }

  .nav-separator {
    display: none;
    margin-left: 25px;
    height: 180px;
  }
}

.dropdown-services {
  flex: 1;
}

.dropdown-cybersecurity {
  overflow: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.3s, opacity 0.2s 0.1s;

  .dropdown__item {
    width: 100%;
    white-space: nowrap;
  }
}
