.services {
  margin-top: 50px;
  padding-top: 50px;

  &__title {
    font-size: 1.5rem;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 30px;

    .card {
      padding: 20px;

      &__img {
        width: 100%;
        height: 200px;
        border-radius: 5px;
        margin-bottom: 10px;
      }

      &__content {
        margin-bottom: 60px;
      }

      &__btn {
        bottom: 20px;
        left: 20px;
      }
    }
  }
}
